<!-- <h3>login</h3>

<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <p>{{ field.label }}: <br> {{ field }}</p>
    {% endfor %}
    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p> -->


<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}

    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'image/logo.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Lost Human Detection" content="Lost Human Detection">
    <meta name="author" content="MD Minhajul Islam">
    <meta name="keywords" content="Lost Human Detection">


    <title>Lost Human Detection</title>

    <!-- Icons font CSS-->
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">

    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <h2><a href="{% url 'home' %}"><img src="{% static 'image/logo.png' %}" width="64" alt=""></a></h2>
        <nav>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'all-post' %}">Post</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        </nav>
    </header>

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Login</h2>
                    <form action="" method="POST">
                        {% csrf_token %}

                        <div class="row row-space">
                            {% for field in form %}
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label" for="{{ form.email.id_for_label }}">{{ field.label }}</label>
                                    {% if field.name == 'username' %}
                                    <input class="input--style-4" type="text" name="{{ field.name }}"
                                        id="{{ field.id_for_label }}">
                                    {% elif field.name == 'password' %}
                                    <input class="input--style-4" type="password" name="{{ field.name }}"
                                        id="{{ field.id_for_label }}">
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                            <div class="p-t-2">
                                <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>

</body>

</html>