<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




    <!-- Title Page-->
    <title>Lost Human Detection</title>

    <!-- Icons font CSS-->
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/css/bootstrap.min.css">


    <!-- Vendor CSS-->
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
</head>

<body>
    <header>
        <h2><a href="{% url 'home' %}"><img src="{% static 'image/logo.png' %}" width="64" alt=""></a></h2>
        <nav>
            {% if user.is_authenticated %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'profile' %}">Welcome, {{ request.user.username }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </nav>
    </header>

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">

        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <div class="row row-space">
                        <div class="col-4 text-white">
                            <a class="post single">
                                {% for user_rows in user_rows %}
                                {% for rows in post_rows %}
                                {% if user_rows.0 == rows.9 %}
                                <h4 class="post_title" style="text-align: left;">
                                    Missing Person: {{rows.1}} {{ rows.2}}
                                </h4></br>
                                <div class="image-container">
                                    <img src="{% static 'images/db/known/'|add:rows.3|add:'/'|add:post_filename %}"
                                        alt="Image" class="image-style">
                                </div>
                                </br>
                                <p style="text-align: left;">Age Range &nbsp;: {{rows.3}}</p>
                                <p style="text-align: left;">Physical Sign &nbsp;: {{rows.4}}</p>
                                <p style="text-align: left;">Address &nbsp;: {{rows.6}}</p></br>
                                <p style="text-align: left;">Description: </p>
                                <p class="post_description" style="text-align: justify; padding-right: 80px;">
                                    {{rows.5}}
                                </p>
                                <div style="text-align: left; padding-top: 25px;">
                                    <span style="font-size: x-small;">Posted by </span>
                                    <span style="font-size: x-small; color: #00d2ff;">{{ user_rows.4 }}</span>
                                    <span style="font-size: x-small;">at {{rows.7}}(UTC)</span>
                                </div>


                                <!-- Add edit and delete buttons -->
                                <div style="text-align: center; padding-top: 10px; padding-right: 80px;">
                                    <a href="{% url 'edit-post' post_id=rows.0 %}"
                                        class="btn btn-primary btn-sm">Edit</a>
                                    <a href="{% url 'delete-post' post_id=rows.0 %}"
                                        class="btn btn-danger btn-sm">Delete</a>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->